################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eon-soft.com/appsettings.json
/.vs
/eon-soft.com/eon-soft.com.csproj
