@page "/tokens"
@using eon_soft.com.Models
@model eon_soft.com.Models.TokenClient

<h1>Token View</h1>


<h3>Current Tokens</h3>
<h5>
    @{
        var accessToken = ViewBag.AccessToken.ToString();
        var idToken = ViewBag.IdToken.ToString();
        // var refreshToken = ViewBag.RefreshToken.ToString();
    }
    <p>Access Token: @accessToken</p>
    <p>ID Token: @idToken</p>
@*     <p>Refresh Token: @refreshToken</p> *@

</h5>
