@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Welcome to your Administrator Dashboard</h1>
<h3>Information access, and Management of resources will be reviewed and configured here</h3>


<div>
    <form id="searchForm" action="">
        <fieldset>
            <legend>Search</legend>
            <input type="text" class="form-control" placeholder="Enter Search" name="Search">
            <br />
            <input type="submit" class="form-control-plaintext" value="Submit" />
        </fieldset>
    </form>
</div>

<div>
    <div class="accordion-header" style="">
        <label>Administration Viewer</label>
    </div>
    <div class="accordion-item">
        <div class="accordion-button" onclick="ExpandCollapse()"></div>
        <div class="accordion-body">

        </div>
    </div>
</div>

