@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <b>eon-soft.com</b></h1>
</div>
<h2>Who are we?</h2>
<p>
    Eon-software is a small business digital products consulting firm. We present simple examples of application operations along with a short brief description of what is taking place behind the scenes.
    Our commitment is to application development excellence and evolution as more bleeding edge technology reaches a wider public, and as such we intend to "keep up" with the modern ways of providing customers with the best options when it comes to implementing digital solutions. To summarize we thrive on staying on the latest technologies on all major cloud platforms.
</p>
<h2>What are we doing?</h2>
<p>We currently have access to a multitude of cloud resources including Microsoft Azure, Google Cloud Platform, and Amazon Web Services. </p>
<p>
    What we intend to prove out the process and capabilities of each cloud environment when it comes to simple application development and deployment. From there we can proceed to perform the following other actions such as implement security, evaluate resources, cost, etc.
</p>
<ul>
    <li>Web Applications</li>
    <li>Single Page Applications (React/Angular/Mvc/etc)</li>
    <li>Application Security (Login, Single Sign On)</li>
    <li>Application Resources (Storage, Databases, Data Processing)</li>
    <li>API Secrets Management</li>
    <li>Web Services SOAP/RESTful Operations</li>

</ul>
<br />


<h2>Our current operations</h2>
<p>
    We also intend to extend these simple applications to include Artificial Intelligence demonstrations in how these features can enhance even the most simplest of applications or can help extend the capabilities your business may need.
</p>
<div class="row">
    <div class="col-md-3">
        <h3>Azure AI / OpenAI</h3>
        <ul>
            <li>Vision</li>
            <li>Speech</li>
            <li>Translator</li>
            <li>Document</li>
            <li>Search</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Google AI Services</h3>
        <ul>
            <li>Speech</li>
            <li>Document</li>
            <li>Vertex Agent Builder</li>
            <li>Vertex Search for Retail</li>
            <li>Contact Center AI Plaform</li>
        </ul>
    </div>

    <div class="col-md-3">
        <h3>Amazon AI Services</h3>
        <ul>
            <li>Translate</li>
            <li>SageMaker</li>
            <li>Forecast</li>
            <li>Lex</li>
            <li>DeepComposer</li>
            <li>DeepRacer</li>
            <li>Kendra</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Apple Intelligence Services</h3>
        <ul>
            <li>Writing Tools </li>
            <li>Image Playground</li>
            <li>Siri Controlled Apps</li>
            <li>Vision Framework</li>
            <li>Natural Language</li>
            <li>Speech</li>
            <li>Sound Analysis</li>
            <li>Translation</li>
        </ul>
    </div>
</div>
<div class="text-center">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

